<nav>
  <app-list-book (seletedBook)="showBook($event)"></app-list-book>
</nav>
<main *ngIf="showForBook">
  <h1>{{ showForBook.volumeInfo.title }}</h1>
  <p>{{ showForBook.volumeInfo.authors }}</p>
  <p>Publicado em: {{ showForBook.volumeInfo.publishedDate }}</p>
  <img
    width="250"
    height="350"
    src="{{ showForBook.volumeInfo.imageLinks.thumbnail }}"
  />
  <p>
    <a href="{{ showForBook.volumeInfo.canonicalVolumeLink }}" target="_blank"
      >Site</a
    >
  </p>
</main>

<router-outlet></router-outlet>
