:host {
  display: flex;
  gap: 1em;
}

nav {
  flex: 12em 0 1;
}
main {
  flex: auto;
  text-align: center;
}

h1 {
  color: #3f3626;
}

@media screen and (max-width: 32em) {
  :host {
    flex-direction: column;
  }
  nav {
    flex: auto 0 1;
  }
}
